<h1>Caracteristicas</h1>
<mat-list>
  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    Un parámetro muy importante en los árboles-B es el ORDEN (m). El orden de un
    árbol-B es el número máximo de ramas que pueden partir de un nodo.
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    Si de un nodo de un árbol-b parten n ramas, ese nodo contendrá n-1 claves.
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    El árbol está ordenado.
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    Todos los nodos terminales, (nodos hoja), están en el mismo nivel.
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    Todos los nodos intermedios, excepto el raiz, deben tener entre m/2 y m
    ramas no nulas.
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    El máximo número de claves por nodo es m-1.
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    El mínimo número de claves por nodo es (m/2)-1.
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon color="primary">label</mat-icon>
    La profundidad (h) es el número máximo de consultas para encontrar una
    clave.
  </mat-list-item>
</mat-list>
