<div
  fxLayout.lt-sm="column"
  fxLayout="row"
  fxLayoutGap="16px"
  style="margin: 16px"
>
  <mat-card class="mat-elevation-z3" fxFlex>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>Arbol AVL</mat-card-title>
      <button mat-icon-button color="accent" (click)="mostrarRecursos()">
        <mat-icon>link</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image src="/assets/images/avl.png" alt="Foto de un arbol B" />
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="mostrarEjemplo()">
        Ejemplo
      </button>
    </mat-card-actions>
  </mat-card>
</div>
